{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1 style="width: 15%; margin: auto;" class="mt-5 text-center">All Tasks <hr></h1>
<div class="row mt-5" style="width: 95%; margin: auto;">
    {% for cnt in data %}
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ cnt.taskTitle }}</h5>
                <p class="card-text">{{ cnt.taskDesc }}</p>

                <h6>Categories:
                    {% for cat in cnt.category.all %}
                    <span class="btn btn-primary btn-sm m-3">
                        {{ cat.name }}
                    </span>
                    {% endfor %}
                </h6>

                {% if cnt.is_completed %}
                <p class=" text-success ">Completed the task successfully </p>
                <div class="btn btn-success">Completed</div>
                {% else %}
                <p>Status: <span class=" text-danger ">Pending</span></p>
                <a href="{% url 'edit-task' cnt.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'delete-task' cnt.id %}" class="btn btn-danger">Delete</a>
                {% endif %}

            </div>
        </div>
    </div>
    {% endfor %}
</div>


<footer class="text-center bg-body-tertiary mt-5">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-body">MD Jubayer Khan</a>
  </div>
</footer>
{% endblock %}
